body {
    font-size: 16px;
    color: #fff;
    background-color: #379683;
    font-family: 'Raleway', sans-serif;
}
h2 {
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 40px;
}
#header-nav {
    background-color: #557A95;
    border: 0 1 0 1;
    border-color: black;
    border-width: 2px;
}
.navbar-brand {
    padding-top: 20px;
    padding-bottom: 50px;
}
.navbar-brand h1 {
    font-family: 'Karla', serif;
    color: #fff;
    font-weight: bold;
    margin: 0;
}
#nav-items {
    margin-top: 5px;
}
#nav-items a {
    color: #7395AE;
    text-align: center;
}
.navbar-header .icon-bar, .navbar-header button.navbar-toggle{
    border: 1px solid #7395AE;
}
.navbar-header button.navbar-toggle {
    margin-top: -35px;
    clear: both;
}
#nav-items li p {
    background: #B1A296;
}
#menu-content .item-content {
    background: #5D5C61;
    padding: 10px;
}
#menu-content .item-content p {
    font-size: 1.5em;
}

/********** XS devices only **********/
@media (max-width: 767px) {
    /* Header */
    .navbar-brand {
        padding-top: 10px;
    }
    .navbar-brand h1 {
        padding-top: 10px;
    }
    #collapsable-nav a {
        font-size: 1.2em;
    }
    #collapsable-nav a span {
        font-size: 1em;
        margin-right: 5px;
    }
    .menu-item-description {
        text-align: center;;
    }
}